<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-6 mx-auto mt-5 card shadow">
      <div class="card-header">
        <h1 class="fw-bold text-primary">Inserir Novo Contato</h1>
      </div>
      <form [formGroup]="form" (ngSubmit)="gravar()" class="mt-4 card-body">

        <div class="form-group mb-3 position-relative">
          <app-input-form [control]="getFormControl('nome')" placeholder="Nome"></app-input-form>
        </div>


        <div class="form-group mb-3 position-relative">
          <app-input-form [control]="getFormControl('email')" type="email" placeholder="Email"></app-input-form>
        </div>


        <div class="form-group mb-3 position-relative">
          <app-input-form [control]="getFormControl('telefone')" [isTelefone]="true" placeholder="Telefone"></app-input-form>
        </div>


        <div class="form-group mb-3 position-relative">
          <app-input-form [control]="getFormControl('cargo')" placeholder="Cargo"></app-input-form>
        </div>


        <div class="form-group mb-3 position-relative">
          <app-input-form [control]="getFormControl('empresa')" placeholder="Empresa"></app-input-form>
        </div>

        <div class="card-footer d-flex gap-1 mt-5">
          <button type="submit" class="btn btn-primary px-5">
            <i class="bi bi-save me-2"></i> Gravar
          </button>
          <button routerLink="/contatos/listar" type="button" class="btn btn-outline-primary px-5">
            <i class="pi pi-arrow-left me-2"></i> Voltar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>






<!-- <ng-container *ngFor="let campo of [
          {control: nome, placeholder: 'Insira o nome'},
          {control: email, type: 'email', placeholder: 'Insira o email do contato'},
          {control: telefone, isTelefone: true, placeholder: 'Insira o telefone do contato'},
          {control: cargo, placeholder: 'Insira o cargo do contato'},
          {control: empresa, placeholder: 'Insira a empresa do contato'}
        ]">
          <div class="form-group mb-3 position-relative">
            <label class="form-label">{{ campo.placeholder }}:</label>
            <app-input-form [control]="campo.control" [type]="campo.type || 'text'" [isTelefone]="campo.isTelefone || false" [placeholder]="campo.placeholder.split(' ')[2]">
            </app-input-form>
          </div>
        </ng-container> -->