<app-lista [title]="'Listar Contatos'" [routerLinkPath]="'/contatos/inserir'" [buttonText]="'Novo Contato'" [cardTitle]="'Lista de Contatos'">

  <!-- Botões de filtro -->
  <div class="row g-2 mb-3">
    <div class="col-6 col-lg-2">
      <button (click)="opcaoSelecionada = FiltroContatosEnum.TODOS; filtrar()" class="btn btn-sm px-2 fs-6 fw-semibold" [ngClass]="opcaoSelecionada == FiltroContatosEnum.TODOS ? 'btn-primary' : 'btn-outline-primary'">
        Todos
      </button>
    </div>
    <div class="col-6 col-lg-2">
      <button (click)="opcaoSelecionada = FiltroContatosEnum.FAVORITOS; filtrar()" class="btn btn-sm px-2 fs-6 fw-semibold" [ngClass]="opcaoSelecionada == FiltroContatosEnum.FAVORITOS ? 'btn-warning' : 'btn-outline-warning'">
        Favoritos
      </button>
    </div>
  </div>

  <!-- Itens de contato -->
  <div *ngFor="let contato of contatos">
    <app-card-item [nomeItem]="contato.nome" [editarLink]="'/contatos/editar/' + contato.id" [deletarLink]="'/contatos/excluir/' + contato.id" [detalhesLink]="'/contatos/visualizar-contato/' + contato.id">
      <div class="row g-2">
        <div class="col-6 col-lg-2">
          <button (click)="favoritarContato(contato)" class="btn btn-sm px-2 fs-6 fw-semibold" [ngClass]="contato.favorito ? 'btn-danger' : 'btn-warning'">
            <i class="bi bi-star-fill me-1" *ngIf="contato.favorito"></i>
            <i class="bi bi-star me-1" *ngIf="!contato.favorito"></i>
            {{ contato.favorito ? 'Desfavoritar' : 'Favoritar' }}
          </button>
        </div>
        <div class="col">
          <p class="mb-1">Telefone: {{ contato.telefone }}</p>
          <p class="mb-1">Cargo: {{ contato.cargo }}</p>
          <p class="mb-1">Empresa: {{ contato.empresa }}</p>
        </div>
      </div>
    </app-card-item>
  </div>
</app-lista>