<div class="list-group-item list-group-item card-contato card-container bigger">
  <div class="d-flex justify-content-between">
    <h5 class="mb-1">{{ compromisso.assunto }}</h5>
    <div>
      <button data-cy="btnEditar" routerLink="/compromissos/editar/{{compromisso.id}}" type="button" class="btn btn-sm btn-primary me-1">
        <i class="bi bi-pencil"></i>
      </button>
      <button data-cy="btnExcluir" routerLink="/compromissos/excluir/{{compromisso.id}}" type="button" class="btn btn-sm btn-outline-danger">
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </div>

  <p class="mb-1">Data: {{ compromisso.data }}</p>
  <p class="mb-1">Hora Inicio: {{ compromisso.horaInicio }}</p>
  <p class="mb-1">Hora Termino: {{ compromisso.horaTermino }}</p>


</div>